Importamos librerías necesarias.

In [2]:
import pandas as pd
from datetime import datetime

## Generando Checkin

Leemos archivo json de checkin y verificamos lectura.

In [13]:
data_checkin = pd.read_json("Yelp datasets\checkin.json", lines=True)
data_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

'Parsing' de la data contenida en la columna Date para normalización.

In [14]:
#Second attempt of parsing worked well.
def parse_date(date_str):
    return datetime.strptime(date_str.strip(), '%Y-%m-%d %H:%M:%S')

data_checkin['date'] = data_checkin['date'].str.split(',')
data_checkin = data_checkin.explode('date', ignore_index=True)
data_checkin['date'] = data_checkin['date'].apply(parse_date)

data_checkin.head()

              business_id                date
0  ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56
1  ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06
2  ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27
3  ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13
4  ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33

Verificamos extensión y guardamos en formato csv.

In [16]:
data_checkin.shape

(13356875, 2)

In [17]:
data_checkin.to_csv("checkin_total.csv", sep=";")

Metodología 'parsing' que no funcionó.

In [15]:
#First attempt of parsing lasted more than 15min. I interrupted the process.
data_checkin_final = pd.DataFrame(columns=['business_id', 'date'])
last_row = data_checkin.shape[0]

n = 0
for j in range(last_row):
    checkin_list = data_checkin['date'][j].split(',')
    for i in checkin_list:
        checkin_time = datetime.strptime(i.strip(), '%Y-%m-%d %H:%M:%S')
        data_checkin_final.loc[n] = [data_checkin['business_id'][j], checkin_time]
        n += 1
    if j % 100 == 0:
        print(j)

data_checkin_final.head()

AttributeError: 'Timestamp' object has no attribute 'split'

#### Descartamos la info del archivo tip.json ya que no contribuye a nuestros propósitos.

In [8]:
data_tip = pd.read_json("Yelp datasets/tip.json", lines=True)
data_tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

### Generación preliminar de Google reviews por estados.<br> 
(Florida y Nevada)

In [29]:
data_florida = pd.read_json("Google datasets/review-Florida/1.json", lines=True)

for i in range(2,20):
    data_florida_i = pd.read_json(f"Google datasets/review-Florida/{i}.json", lines=True)
    data_florida = pd.concat([data_florida, data_florida_i])

data_florida.shape

c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

(2850000, 8)

In [39]:
data_nevada = pd.read_json("Google datasets/review-Nevada/1.json", lines=True)

for i in range(2,13):
    data_nevada_i = pd.read_json(f"Google datasets/review-Nevada/{i}.json", lines=True)
    data_nevada = pd.concat([data_nevada, data_nevada_i])

data_nevada.shape

c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Users\Milena\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

(1800000, 8)

In [30]:
data_florida.drop(['pics', 'resp'], axis=1)

,user_id,name,time,rating,text,gmap_id
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,0x8893863ea87bd5dd:0x9383ebf973e74abb
...,...,...,...,...,...,...
149995,1.039909e+20,J. B. Oliveira,1503293272680,5,It is a buyers paradise. Hundred places inside...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
149996,1.124797e+20,Adam K,1514763473117,5,Great place to go especially if you're in the ...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
149997,1.103771e+20,English People,1531250213447,5,I love this place so much and come here alot a...,0x88d908feeaeded1f:0x29c1bf6101ce3a42
149998,1.099194e+20,Shiva K,1532621720862,4,"Plenty of shops with excellent variety, ample ...",0x88d908feeaeded1f:0x29c1bf6101ce3a42
149999,1.160935e+20,Tiago nascimento,1577461433361,4,Nice open mall,0x88d908feeaeded1f:0x29c1bf6101ce3a42

In [44]:
data_nevada.drop(['pics', 'resp'], axis=1, inplace=True)

In [45]:
data_nevada.head()

,user_id,name,time,rating,text,gmap_id
0,1.028432e+20,CDL CO,1622740504476,5,No frills smaller coffee counter in the corner...,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
1,1.149544e+20,So_ Blind,1573159413820,1,Save yourself the frustration and just ignore ...,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
2,1.165234e+20,Greg Hansen,1515251163362,3,I passed two Starbucks in order to get to this...,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
3,1.033041e+20,Brett Powell,1506206762095,3,It does the job and is my preference over the ...,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
4,1.141624e+20,M Aris,1468298771892,3,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9

In [20]:
total_rows = data_florida.shape[0]
null_rows = data_florida["resp"].isnull().sum()
print(f"Count of rows: {total_rows}")
print(f"Count of null rows: {null_rows}")
print(f"% of null rows: {round(null_rows/total_rows*100,2)}%")

Count of rows: 150000
Count of null rows: 118033
% of null rows: 78.69%

In [49]:
data_nevada.to_csv("Google datasets/NV_reviews.csv", sep=";")

In [ ]:
data_florida.to_csv("Google datasets\FL_reviews.csv", sep=";")