### ETL realizado sobre el archivo `review.json`, que contiene la información de las reseñas de Yelp

In [1]:
import pandas as pd

# Cargar el archivo JSON en un DataFrame
file_path = 'c:/Users/PC/Documents/RawDataPF_Henry/Yelp/review.json'  # Reemplaza con la ruta correcta hacia tu archivo JSON
df_reviews_Yelp = pd.read_json(file_path, lines=True)

In [2]:
df_reviews_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

In [3]:
df_reviews_Yelp.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

Primero reduciré la cantidad de registros teniendo en cuenta sólo los que tienen igual `business_id` en *df_reviews_Yelp* y en *df_business*

In [4]:
df_business = pd.read_csv('c:/Users/PC/Documents/RawDataPF_Henry/business_final.csv',sep=';')

In [5]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"['Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","['Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"['OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","['Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."
2,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,1,"['RestaurantsGoodForGroups': 'True', 'Restaura...","Restaurants, Italian","['Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
3,0qNpTGTcqPwOLi2hADx4Xw,Charlie's Market,2815 E Sligh Ave,Tampa,FL,33610,28.010360,-82.430042,3.0,9,1,"['BusinessParking': ['garage': False, 'street'...","Food, Grocery, Convenience Stores",NaN
4,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,10440 N Dale Mabry Hwy,Tampa,FL,33618,28.046203,-82.505053,4.0,23,0,"['BusinessParking': ['garage': False, 'street'...","Restaurants, American (New), Italian","['Monday': '11:30-21:0', 'Tuesday': '11:30-21:..."

In [6]:
# Filtrar los registros de df_reviews_Yelp en los que el business_id esté en df_business
business_ids_to_keep = df_business['business_id'].tolist()
df_reviews_filt_Yelp = df_reviews_Yelp[df_reviews_Yelp['business_id'].isin(business_ids_to_keep)]

In [7]:
df_reviews_filt_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1481665 entries, 9 to 6990276
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1481665 non-null  object
 1   user_id      1481665 non-null  object
 2   business_id  1481665 non-null  object
 3   stars        1481665 non-null  int64
 4   useful       1481665 non-null  int64
 5   funny        1481665 non-null  int64
 6   cool         1481665 non-null  int64
 7   text         1481665 non-null  object
 8   date         1481665 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 113.0+ MB

Renombro los campos de acuerdo al Diagrama Entidad - Relación

In [8]:
# Crear el DataFrame df_Yelp_reviews_final
df_Yelp_reviews_final = pd.DataFrame()
# Asignar los valores de las columnas desde df_reviews_filt_Yelp
df_Yelp_reviews_final['id_reviews'] = df_reviews_filt_Yelp['review_id']
df_Yelp_reviews_final['id_user'] = df_reviews_filt_Yelp['user_id']
df_Yelp_reviews_final['id_source'] = df_reviews_filt_Yelp['business_id']
df_Yelp_reviews_final['stars'] = df_reviews_filt_Yelp['stars']
df_Yelp_reviews_final['id_date'] = 0  # Inicialmente, se establece como 0 (int64)
df_Yelp_reviews_final['review'] = df_reviews_filt_Yelp['text']
df_Yelp_reviews_final['likes'] = df_reviews_filt_Yelp['useful'] + df_reviews_filt_Yelp['funny'] + df_reviews_filt_Yelp['cool']
df_Yelp_reviews_final['source'] = 1

In [9]:
df_Yelp_reviews_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1481665 entries, 9 to 6990276
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id_reviews  1481665 non-null  object
 1   id_user     1481665 non-null  object
 2   id_source   1481665 non-null  object
 3   stars       1481665 non-null  int64
 4   id_date     1481665 non-null  int64
 5   review      1481665 non-null  object
 6   likes       1481665 non-null  int64
 7   source      1481665 non-null  int64
dtypes: int64(4), object(4)
memory usage: 101.7+ MB

Este Dataframe se guardará en el archivo `Yelp_reviews_final.csv`

In [10]:
df_Yelp_reviews_final.to_csv('c:/Users/PC/Documents/RawDataPF_Henry/Yelp_reviews_final.csv',index=False, sep=';')