### Generando Yelp users

In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:
df_user_Yelp = pd.read_parquet(os.path.join(os.getcwd(), '..', 'datasets', 'originals', 'Yelp', 'user.parquet'), engine='pyarrow')

In [3]:
df_user_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [8]:
df_user_Yelp.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [9]:
df_user_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

Unificamos las columnas 'useful', 'funny' y 'cool' en una sola con nombre 'votes'.

In [10]:
df_user_Yelp['votes'] = df_user_Yelp['useful'] + df_user_Yelp['funny'] + df_user_Yelp['cool']

Eliminamos columnas no contempladas en nuestro DER.

In [11]:
df_user_Yelp.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos', 'votes'],
      dtype='object')

In [12]:
df_user_Yelp_rd = df_user_Yelp.drop(columns=['review_count', 'yelping_since', 'useful', 'funny','cool', 
                                             'elite', 'friends', 'average_stars', 
                                             'compliment_hot', 'compliment_more', 'compliment_profile', 
                                             'compliment_cute', 'compliment_list', 'compliment_note', 
                                             'compliment_plain', 'compliment_cool', 'compliment_funny', 
                                             'compliment_writer', 'compliment_photos'])

### ******************************************

A continuación se realizan algunas transformaciones tomando la información que hay en común con el archivo 'business_final_csv' que contiene sólo la información de los 3 estados de interés (FL, NV y CA).<br>
Primero uno 'Yelp_reviews' con 'business_final' para reducir el número de reviews, dejando sólo los que corresponden a los business de los estados mencionados

In [16]:
#df_review_Yelp = pd.read_csv('datasets/Yelp_reviews.csv')
df_review_Yelp = pd.read_csv(os.path.join(os.getcwd(), '..', 'datasets', 'Yelp_reviews.csv'))

In [8]:
#df_business = pd.read_csv("Yelp datasets/Yelp_business.csv")
df_review_Yelp = pd.read_csv(os.path.join(os.getcwd(), '..', 'datasets', 'Yelp_reviews.csv'))

In [9]:
# Antes del merge, asegurémonos de que las columnas 'business_id' estén en un formato consistente
df_review_Yelp['business_id'] = df_review_Yelp['business_id'].str.strip()
df_business['business_id'] = df_business['business_id'].str.strip()

# Realizar el merge basado en la columna "business_id"
merged_df = df_review_Yelp.merge(df_business[['business_id']], on='business_id', how='inner')

# Seleccionar las columnas necesarias en el DataFrame resultante
columns_to_keep = ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
df_review_Yelp_final = merged_df[columns_to_keep]

# Ahora, df_review_Yelp_final contendrá solo las filas de df_review_Yelp que tienen "business_id" presente en df_business,
# y solo las columnas seleccionadas.

Lo mismo se realiza con 'Yelp_users' para que contenga sólo la información de los 'user_id' presentes en 'review_Yelp_final'

In [14]:
# Realizar la fusión (merge) basada en la columna 'user_id'
df_user_Yelp_filt = df_user_Yelp_rd[df_user_Yelp_rd['user_id'].isin(df_review_Yelp_final['user_id'])]

# Ahora, df_user_Yelp_filt contendrá solo las filas de df_user_Yelp con los 'user_id' presentes en df_review_Yelp_final.

### ******************************************

Reseteo de índices y eliminación de duplicados.

In [8]:
df_user_Yelp_rd.reset_index(drop=True, inplace=True)
df_user_Yelp_rd.drop_duplicates(subset=['user_id'], inplace=True)

In [9]:
df_user_Yelp_rd.shape

(1987897, 4)

### Generando Yelp_reviews

In [ ]:
# Reading Yelp reviews.
data_yelp_reviews = pd.read_csv('Yelp datasets/Yelp_reviews.csv', sep=";")
data_yelp_reviews.head(3)

,review_id,user_id,business_id,stars,text,date,Likes
0,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16,2
1,TP0HYy4GqYtrWMlFIhxw3A,YRsNXrlyvjnr7NLSDwen0Q,LHSTtnW3YHCeUkRDGyJOyw,1,We arrived a few minutes early for a 7pm reser...,2016-05-31 01:58:22,6
2,RkXe6gzU6bfut_Q2W2NpbA,jPaGpFevnH4y1BQGIe3glw,LHSTtnW3YHCeUkRDGyJOyw,5,This is one of my favorite restaurants They ha...,2017-12-02 23:28:30,0

In [ ]:
# Interchange row 1 and 2.
data_yelp_reviews.iloc[1], data_yelp_reviews.iloc[0] = 
                            data_yelp_reviews.iloc[0].copy(), data_yelp_reviews.iloc[1].copy()

In [ ]:
# Change not string data in column 'text' to string.
def convertir_a_string(valor):
    if not isinstance(valor, str):
        return str(valor)
    return valor

data_reviews_google['text'] = data_reviews_google['text'].apply(convertir_a_string)

In [ ]:
# Truncate data extension in 'text' to 6000 characters.
def truncar_texto(texto, max_longitud=6000):
    if len(texto) > max_longitud:
        return texto[:max_longitud]
    return texto

data_reviews_google['text'] = data_reviews_google['text'].apply(truncar_texto)

In [ ]:
# Ensure string datatype in columns 'review_id', 'user_id' and 'business_id'.
data_yelp_reviews['review_id'] = data_yelp_reviews['review_id'].astype(str)
data_yelp_reviews['user_id'] = data_yelp_reviews['user_id'].astype(str)
data_yelp_reviews['business_id'] = data_yelp_reviews['business_id'].astype(str)

In [ ]:
data_yelp_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1820145 entries, 0 to 1820144
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   text         object
 5   date         object
 6   Likes        int64
dtypes: int64(2), object(5)
memory usage: 97.2+ MB

In [ ]:
data_yelp_reviews.head()

,review_id,user_id,business_id,stars,text,date,Likes
0,TP0HYy4GqYtrWMlFIhxw3A,YRsNXrlyvjnr7NLSDwen0Q,LHSTtnW3YHCeUkRDGyJOyw,1,We arrived a few minutes early for a 7pm reser...,2016-05-31 01:58:22,6
1,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16,2
2,RkXe6gzU6bfut_Q2W2NpbA,jPaGpFevnH4y1BQGIe3glw,LHSTtnW3YHCeUkRDGyJOyw,5,This is one of my favorite restaurants They ha...,2017-12-02 23:28:30,0
3,Wv6ty8iRgaPtqRzQXQiDaA,V0RkSHN5nckzO6oPTCp6mw,LHSTtnW3YHCeUkRDGyJOyw,4,Let me start by saying that my wife and I are ...,2018-03-23 23:22:00,0
4,w0cb9xwH5KSgtTpP3DcIVg,yujZWE_uZn41f5-677Gvjg,LHSTtnW3YHCeUkRDGyJOyw,4,I wrote this a while ago but never posted it f...,2016-01-30 15:55:07,1

In [ ]:
data_yelp_reviews.to_csv('Yelp datasets/Yelp_reviews.csv', sep=";", index=False)

### Generando Google_reviews

Concatenamos reviews de Google de los 3 estados elegidos:

In [22]:
data_nevada = pd.read_csv("Google datasets/NV_reviews.csv", sep=";")
data_florida = pd.read_csv("Google datasets/FL_reviews.csv", sep=";")
data_california = pd.read_csv("Google datasets/CA_reviews.csv", sep=";")

data_reviews_google = pd.concat([data_nevada, data_florida, data_california])

data_reviews_google.shape

(7350000, 9)

Eliminamos columnas sin valor.

In [23]:
data_reviews_google = data_reviews_google.drop(columns=['Unnamed: 0', 'pics', 'resp'])

Generamos identificador único de review usando 'time', gmap_id y 'user_id'.

In [24]:
import hashlib

def generate_hash(time, gmap, user):
    hash_input = str(time) + gmap + str(user)
    hash_object = hashlib.md5(hash_input.encode())
    return hash_object.hexdigest()

In [25]:
data_reviews_google['id_hash'] = data_reviews_google.apply(lambda row: generate_hash(row['time'], row['gmap_id'], row['user_id']), axis=1)

Creamos función para formatear columna 'time' y la aplicamos.

In [26]:
def format_datetime(data):
    fecha = datetime.fromtimestamp(data / 1000)  # Dividir por 1000 para convertir a segundos
    return fecha.strftime('%Y-%m-%d %H:%M:%S')  # Formatear la fecha y hora legible

In [27]:
data_reviews_google['time'] = data_reviews_google['time'].apply(format_datetime)

Reorganizamos las columnas y agregamos la columna 'likes'.

In [28]:
new_column_order = ['id_hash', 'user_id', 'name', 'gmap_id', 'rating', 'text', 'time']

data_reviews_google = data_reviews_google[new_column_order]
data_reviews_google['likes'] = None

Eliminamos duplicados.

In [29]:
data_reviews_google.drop_duplicates(inplace=True)
data_reviews_google.shape

(7131416, 8)

In [110]:
data_reviews_google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7131416 entries, 0 to 2699999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   id_hash  object
 1   user_id  object
 2   name     object
 3   gmap_id  object
 4   rating   int64
 5   text     object
 6   time     object
 7   likes    object
dtypes: int64(1), object(7)
memory usage: 489.7+ MB

Convertimos 'user_id' a formato string.

In [71]:
from decimal import Decimal
def convertir_notacion(valor):
    return format(Decimal(str(valor)), '.0f')

data_reviews_google['user_id'] = data_reviews_google['user_id'].apply(convertir_notacion)

Aseguramos que 'gmap_id' esté en formato string.

In [73]:
data_reviews_google['gmap_id'] = data_reviews_google['gmap_id'].astype(str)

In [74]:
data_reviews_google.head(3)

,id_hash,user_id,name,gmap_id,rating,text,time,likes
0,847099cd0a32acb609caa730ec5f69ef,102843170183026330000,CDL CO,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,5,No frills smaller coffee counter in the corner...,2021-06-03 12:15:04,None
1,a324b6eaf9f36121b018ce36b9ee2ff4,114954392137907770000,So_ Blind,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,1,Save yourself the frustration and just ignore ...,2019-11-07 15:43:33,None
2,43743af5d15c3becac33d8ce9dddb1bf,116523433330089120000,Greg Hansen,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,3,I passed two Starbucks in order to get to this...,2018-01-06 10:06:03,None

Guardamos en un archivo csv.

In [111]:
data_reviews_google_to_store = data_reviews_google.drop(columns=['name'])
data_reviews_google_to_store.to_csv('Google datasets/Google_reviews.csv', sep=";", index=False)

### Generando Users

Generamos los Google users desde las reviews.

In [45]:
data_users_google = data_reviews_google.drop_duplicates(subset=['user_id'])
data_users_google = data_users_google[['user_id', 'name']]
data_users_google.shape

(1995981, 2)

Concatenamos con los Yelp users.

In [53]:
data_users_final = pd.concat([df_user_Yelp_rd, data_users_google])
data_users_final.head()

                  user_id    name    fans    votes
0  qVc8ODYU5SZjKXVBgXdI7w  Walker   267.0  14470.0
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138.0  83438.0
2  2WnXYQFK0hXEoTxPtV2zvg   Steph    52.0   4099.0
3  SZDeASXq7o05mMNLshsdIA    Gwen    28.0   1141.0
4  hA5lMy-EnncsH4JoR-hFGQ   Karen     1.0     51.0

In [54]:
data_users_final.shape

(3983878, 4)

Verificación de duplicados.

In [55]:
data_users_final.duplicated(subset=['user_id']).sum()

0

Guardamos en un archivo csv.

In [56]:
data_users_final.to_csv("users.csv", sep=";", index=False)

In [59]:
data_users_final.head()

                  user_id    name    fans    votes
0  qVc8ODYU5SZjKXVBgXdI7w  Walker   267.0  14470.0
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138.0  83438.0
2  2WnXYQFK0hXEoTxPtV2zvg   Steph    52.0   4099.0
3  SZDeASXq7o05mMNLshsdIA    Gwen    28.0   1141.0
4  hA5lMy-EnncsH4JoR-hFGQ   Karen     1.0     51.0

In [58]:
data_users_final.shape

(3983878, 4)

In [61]:
max_valor = data_users_final['votes'].max()
max_valor

587933.0

#### Verificación de errores

In [ ]:
file_path = r'Yelp datasets\Yelp_reviews.csv'
byte_offset = 66

with open(file_path, 'rb') as file:
    file.seek(byte_offset)
    byte_contents = file.read(1)

    if byte_contents:
        print(f"Byte {byte_offset} contains: {byte_contents.decode('utf-8')}")
    else:
        print(f"Byte {byte_offset} is not found.")

Byte 66 contains: q

In [ ]:
file_path = r'Yelp datasets\Yelp_reviews.csv'
byte_offset = 858751

with open(file_path, 'rb') as file:
    file.seek(byte_offset)
    line = file.readline().decode('utf-8')

    if line:
        print(f"Line starting at byte {byte_offset}: {line}")
    else:
        print(f"Line starting at byte {byte_offset} is not found.")

Line starting at byte 858751: I6B7EMxjOfGjypia7PhcPw;Sew3waPPmACNjpqAxWCkpA;rjuWz_AD3WfXJc03AhIO_w;3;Improv comedy is hard  There s no doubt about it  I did it when I was in high school in front of a ton of my peers when Whose Line Is It Anyway  was at it s peak of popularity so I know what it s like  I d like to be doing it again to be honest  It s a great and rewarding challenge to create comedy out of thin air or from being forced to search a mental back catalog of movie scenes and scripts and try to do an original spin on it immediately  Stand up comedians have a pre written set and film comedians have a script to go off but improv ers face a really difficult problem to begin with their audience can many times determine the quality of the show  Worse yet the performers feed off their audience  This means that by the end of the show it usually goes one of two ways they ve won the audience over entirely or everybody wants to pelt them with tomatoes rotten fruit or anything else that isn t nailed down  Luckily this show s audience was quite participatory and amicable  but I was disappointed to hear them shout quite a few terrible suggestions that the troupe attempted to roll with especially when nobody knew what it was that the audience was talking about   Take the show s opener  166  or at least that s what I m going to call it  was a challenge for the selected members to craft a pun joke out of noun suggestions used from the audience  It goes like this  166 ______ walk into a bar and the bartender says _____________  After the audience shouted out nouns the team did their best to craft some groan inducing puns and for what it s worth they nailed the target more than missed it  It was a great opener until the show ground to a halt when they asked for a vehicle and someone shouted G6  no doubt in reference to the popular song that I can t wait to NOT be hearing on the radio or commercials anymore because it s utter garbage  The problem was nobody on stage knew what a G6 was  I think it s an airplane but what I couldn t help thinking was  1 Why not just ask for another suggestion  It was immediately established by everyone on stage that nobody knew what a G6 was yet they tried to make jokes with it anyway  And it didn t work  Perhaps the worst instance was one of the performers making a joke out of how G6 sounds like Jesus   With that joke it seemed as though he was recognizing how obnoxiously unfunny and over reaching this was but I didn t think he actually WAS that guy I thought he was just playing the role for that game  Unfortunately before the night was over he had all but built a wall and cemented himself into that role  2  Why ask for a vehicle  Vehicles cannot walk and they cannot talk so the concept of them walking into a bar and reacting in any way to the bartender s response is a bit too absurd to be funny  This Why not use a different suggestion was a bit too much of an on going trend throughout the 2 hour 1 2 an hour too long by our analysis show   My dad purchased our tickets as a birthday present for me but that said the price for tickets  17 each was really not indicative of the level of quality we got  It tended to fluctuate throughout the show though and some of the performers shone a lot brighter than the others  I will now affectionately give them all nicknames based on their performances because I m too lazy to look them up even though I know they re ultimately a google search away and this totally makes me look unprofessional  Let s see  As I recall the big stand outs were  Irish Guy with a Beard and Hat  Black shirt popped collar guy who opened the show easily the best one at wit and dry humor   The Expressive Midgetess Clearly the ring leader   Wacky Ass Lanky Chick The Clear Audience Favorite  and  Redhead Who Acts Circles Around Everyone Else Even If They re Not Bad To Begin With   The other stand out was Skull Shirt Kid Who Looks And Performs Like He Pays Them To Be There  Yeah I know that s not the case but if they all take nothing else away from what I say here it s this he was awful  I don t know if he thought his tech referencing humor and beep boop sound effects and visible lack of enthusiasm were supposed to paint him as the awkward yet endearing young dork who acts like he doesn t want to be here but blows up and surprises everyone with how good he is  that was what I attempted in high school or if he was just having a bad night week overall  If so I can cut him some slack But it does need to be acknowledged that he really stunk the place up tonight  I could seriously write another 3 pages detailing each game which goes to show how crappy of a writer I am for my inability to express myself clearly and concisely in a way that doesn t take as long to read as War and Peace  Plus nobody d read it  Bottom line these guys are worth seeing  But probably not for Seventeen Effing Bucks ;2011-01-09 05:30:20;0

In [ ]:
# Maximun review length verification.
df = pd.DataFrame()
df['longitud_reseña'] = data_yelp_reviews['text'].apply(len)
longitud_maxima = df['longitud_reseña'].max()

print("La longitud máxima de una reseña es:", longitud_maxima)

La longitud máxima de una reseña es: 4961

In [ ]:
df = pd.DataFrame()
df['longitud_reseña'] = data_reviews_google['text'].apply(len)
longitud_maxima = df['longitud_reseña'].max()

print("La longitud máxima de una reseña es:", longitud_maxima)

La longitud máxima de una reseña es: 8360

In [ ]:
import re
def contiene_simbolos(valor):
    return bool(re.search(r'[^a-zA-Z0-9]', valor))

# Verificar la columna review_id en busca de símbolos no numéricos ni alfabéticos
resultados = data_yelp_reviews['review_id'].apply(contiene_simbolos).sum()

# Imprimir los resultados
print(resultados)

885211